header, section {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content:center ;
    
}

button {
    font-size: 20px;
    margin-top: 10px;
    margin-right: 15px;
    height: 40px;
    width: 60px;
}

h1 {
    color: rgb(49, 119, 44);
    font-size: 40px;
}

img {
    width: 500px;
    height: 250px;
}